*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box; }

@keyframes moveInleft {
  0% {
    opacity: 0;
    transform: translateX(-20px); }
  80% {
    transform: translateX(20px); }
  100% {
    transform: translateX(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(20px); }
  80% {
    transform: translateX(-20px); }
  100% {
    transform: translateX(0); } }

@keyframes laclu {
  0% {
    transform: rotate(-10deg); }
  25% {
    transform: rotate(0deg); }
  50% {
    transform: rotate(10deg); }
  75% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(-10deg); } }

@keyframes moveIndown {
  0% {
    opacity: 0;
    transform: translatey(20px); }
  100% {
    transform: translateY(0); } }

body {
  font-family: "lato", sans-serif;
  font-weight: 400;
  line-height: 1.5;
  color: #7ed56f; }

.btn:link, .btn:visited {
  text-transform: uppercase;
  padding: 20px 30px;
  display: inline-block;
  text-decoration: none;
  border-radius: 100px;
  transition: all .5s;
  position: relative; }

.btn:hover {
  transform: translateY(-10px);
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2); }

.btn:active {
  transform: translateY(1px); }

.btn-white {
  color: #28b485;
  background-color: #fff; }

.btn::after {
  content: "";
  display: block;
  height: 100%;
  width: 100%;
  border-radius: 100px;
  position: absolute;
  border-radius: 100px;
  z-index: -1;
  top: 0;
  left: 0;
  background-color: #fff;
  transition: all 1s; }

.btn:hover::after {
  transform: scaleX(1.5) scaleY(1.5);
  opacity: 0; }

.btn-animate {
  animation: moveIndown .5s ease-in;
  animation-fill-mode: backwards; }

.section--1 {
  height: 95vh;
  background: linear-gradient(rgba(126, 213, 111, 0.5), rgba(40, 180, 133, 0.5)), url(img/bg.jpg);
  background-size: cover;
  margin: 25px;
  position: relative; }
  .section--1 .logo-box {
    width: 25vw;
    position: absolute;
    top: 20px;
    left: 20px;
    animation: laclu 4s ease-in-out 1000; }
  .section--1 .box-text {
    position: absolute;
    left: 40%;
    top: 50%;
    transform: translate(-30%, -50%);
    text-align: center; }
    .section--1 .box-text p {
      color: #fff;
      animation-name: moveInleft;
      animation-duration: 2s;
      animation-iteration-count: 1000; }
  .section--1 .text {
    display: block;
    color: #fff;
    animation-name: moveInRight;
    animation-duration: 2s;
    animation-iteration-count: 1000;
    font-size: 40px;
    font-weight: 500;
    letter-spacing: 15px; }
